*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #201e1f;
}
.container{
    width: 70%;
    margin: auto;
    align-items: center;

}
.container h1{
    color: #ff4000;
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    font-family: "Kristen ITC";
}
.row{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 30px;

}
.form{
    width: 70%;
    align-items: center;
}
.form input{
    width: 100%;
    background-color: #ff5400;
    padding: 10px 10px;
    border-radius: 20px;
    font-family: "Kristen ITC";
    font-weight: bold;


}

.form input::placeholder{
    color: #201e1f;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Kristen ITC";

}
.btn{
    width: 30%;
}
.btn button{
    width: 50%;
    padding: 10px 0px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #ff5400;
    font-family: cursive;
    font-weight: bold;
    transition: all 0.5s;
}
.btn button:hover{
    background-color:#ff5500a8 ;
}
.row .task{
    width: 80%;
}
.row .action{
    width: 20%;
}
.edit{
    background-color: chartreuse;
    color: #201e1f;
    font-weight: bold;
    font-family: "Kristen ITC";
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.5s;
}
.edit:hover{
    background-color:rgba(128, 255, 0, 0.6) ;
}
.danger{
    background-color:crimson;
    color: #201e1f;
    font-weight: bold;
    font-family: cursive;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.5s;
}
.danger:hover{
    background-color:rgba(220, 20, 60, 0.632) ;
}
.task{
    margin: auto;
    align-items: center;
}
.task h1{
    text-align: left;
    font-size: 30px;
    margin: auto 0px;

}
.task input{
    background-color: transparent;
    color: #ff5400;
    padding: 10px 10px;
    font-family: "Kristen ITC";
    font-weight: bold;
    border: none;
    font-size: 30px;
    margin-left: 0;
    width: 80%;

}

@media screen and (max-width: 950px) {
    .container {
      width: 90%; 
    }
  
    .container h1 {
      font-size: 40px; 
    }
  
    .task input{
        width: 80%;
    }
    .task .action{
        width: 30%;
        display: flex;
    }
    .edit{
        margin-bottom: 10px;
    }
    .form {
      width: 90%; 
    }
  
    .btn button {
      width: 70%; 
    }
  }

  @media (max-width:450px) {
    .btn button {
        width: 80%; 
        padding: 10px 5px;
      }
      .form input::placeholder{
        font-size: 12px;
      }
  }